@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
font-family: 'Numans', sans-serif;
}

.card{
height: 370px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
margin-left: 10px;
}

.social_icon span:hover{
color: red;
cursor: pointer;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}
